/* VARIABLES */
$lightBlue: #4dd2d2;
$darkBlue: #092432;
$activeBlue: #002b50;
/* ENDVARIABLES */

/* HELPERS */
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
.text-left{
    text-align:left;
}
.text-grey{
    color: #959595;
}
/* END HELPERS */


*{
    font-family: sans-serif;
    color:$darkBlue;
}
html, body{
    margin:0px;
    padding:0px;
    background-color: #d9d9d9;
    background: -moz-linear-gradient(top, #d9d9d9 0%, #fff 100%);
    background: -webkit-gradient(top, bottom, color-stop(0%, #d9d9d9), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #d9d9d9 0%, #fff 100%);
    background: -o-linear-gradient(top, #d9d9d9 0%, #fff 100%);
    background: -ms-linear-gradient(top, #d9d9d9 0%, #fff 100%);
    background: linear-gradient(to bottom, #d9d9d9 0%, #fff 100%);
}
/* MENU */
.header{
    background-color: $lightBlue;
    background: -moz-linear-gradient(left, $lightBlue 0%, $darkBlue 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $lightBlue), color-stop(100%, $darkBlue));
    background: -webkit-linear-gradient(left, $lightBlue 0%, $darkBlue 100%);
    background: -o-linear-gradient(left, $lightBlue 0%, $darkBlue 100%);
    background: -ms-linear-gradient(left, $lightBlue 0%, $darkBlue 100%);
    background: linear-gradient(to right, $lightBlue 0%, $darkBlue 100%);
    color: #fff;
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .menu{
        ul{
            list-style: none;
            li{
                margin-left: 10px;
                float: left;
                color:#fff;
                text-transform: uppercase;
                a{
                    color:#fff;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
    .menu-mobile-button{
        display: none;
        width:20px;
        height: 13px;
        margin:10px;
        margin-left:170px;
        padding:10px;
        border:1px solid #fff;
        border-radius:5px;
        @media screen and (max-width: 749px){
            display: block;
        }
    }
    .menu-mobile {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $darkBlue;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $lightBlue;
            display: block;
            transition: 0.3s;
        }
        a:hover {
            color: #fff;
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        @media screen and (max-height: 450px) {
            padding-top: 15px;
                a {
                    font-size: 18px;
                }
        }
    }
 
    @media screen and (min-width: 749px) and (max-width: 1920px) {
        padding-left: 100px;
        padding-right: 100px;
    }
    @media screen and (max-width: 749px){
        justify-content: center;
        .menu{
            display: none;
        }
    }
}
/* FIM MENU */

/* CONTEUDO PRINCIPAL */

.container{
    transition: margin-left .5s;
    padding:10px 100px;

    @media screen and (max-width: 749px){
        padding:10px 0px;
    }
    
    .team{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 749px){
            justify-content: center;
            
        }
    }
    .people{
        cursor: pointer;
        padding:10px;
        width:30%;
        @media screen and (max-width: 1050px){
            width:46%;
        }
        @media screen and (max-width: 749px){
            width:80%;
        }
    }
    .people, .profile{
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        margin:0px 0px 15px 0px;
        padding:10px;
        background: #f0f1ef;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(211,214,211,1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(211,214,211,1);
        box-shadow: 0px 0px 3px 0px rgba(211,214,211,1);
    }
    .people-active{
        background: $activeBlue;
        color: #fff;
        
        .body-people{
        cursor: pointer;

            strong{
                color: #fff;
            }
            .text-grey{
                color: #fff;
            }
        }
    }
    .body-people{
        padding:25px;
    }
    .picture-people{
        cursor: pointer;

        img{
            object-fit: cover;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
        .badge{
            position:absolute;
            height: 15px;
            width: 15px;
            margin-top:-120px;
            margin-left:100px;
            border-radius:50%;
            text-align:center;
            padding:10px;
            line-height: 18px;
            font-size: 18px;
            background-color: $lightBlue;
            color: $darkBlue;
            font-weight: 600;

        }
    }
}
/* FIM CONTEUDO PRINCIPAL */
