/* VARIABLES */
/* ENDVARIABLES */
/* HELPERS */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-grey {
  color: #959595;
}

/* END HELPERS */
* {
  font-family: sans-serif;
  color: #092432;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #d9d9d9;
  background: -moz-linear-gradient(top, #d9d9d9 0%, #fff 100%);
  background: -webkit-gradient(top, bottom, color-stop(0%, #d9d9d9), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, #d9d9d9 0%, #fff 100%);
  background: -o-linear-gradient(top, #d9d9d9 0%, #fff 100%);
  background: -ms-linear-gradient(top, #d9d9d9 0%, #fff 100%);
  background: linear-gradient(to bottom, #d9d9d9 0%, #fff 100%);
}

/* MENU */
.header {
  background-color: #4dd2d2;
  background: -moz-linear-gradient(left, #4dd2d2 0%, #092432 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #4dd2d2), color-stop(100%, #092432));
  background: -webkit-linear-gradient(left, #4dd2d2 0%, #092432 100%);
  background: -o-linear-gradient(left, #4dd2d2 0%, #092432 100%);
  background: -ms-linear-gradient(left, #4dd2d2 0%, #092432 100%);
  background: linear-gradient(to right, #4dd2d2 0%, #092432 100%);
  color: #fff;
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .menu ul {
  list-style: none;
}
.header .menu ul li {
  margin-left: 10px;
  float: left;
  color: #fff;
  text-transform: uppercase;
}
.header .menu ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.header .menu-mobile-button {
  display: none;
  width: 20px;
  height: 13px;
  margin: 10px;
  margin-left: 170px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}
@media screen and (max-width: 749px) {
  .header .menu-mobile-button {
    display: block;
  }
}
.header .menu-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #092432;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.header .menu-mobile a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #4dd2d2;
  display: block;
  transition: 0.3s;
}
.header .menu-mobile a:hover {
  color: #fff;
}
.header .menu-mobile .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .header .menu-mobile {
    padding-top: 15px;
  }
  .header .menu-mobile a {
    font-size: 18px;
  }
}
@media screen and (min-width: 749px) and (max-width: 1920px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 749px) {
  .header {
    justify-content: center;
  }
  .header .menu {
    display: none;
  }
}

/* FIM MENU */
/* CONTEUDO PRINCIPAL */
.container {
  transition: margin-left 0.5s;
  padding: 10px 100px;
}
@media screen and (max-width: 749px) {
  .container {
    padding: 10px 0px;
  }
}
.container .team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 749px) {
  .container .team {
    justify-content: center;
  }
}
.container .people {
  cursor: pointer;
  padding: 10px;
  width: 30%;
}
@media screen and (max-width: 1050px) {
  .container .people {
    width: 46%;
  }
}
@media screen and (max-width: 749px) {
  .container .people {
    width: 80%;
  }
}
.container .people, .container .profile {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  margin: 0px 0px 15px 0px;
  padding: 10px;
  background: #f0f1ef;
  -webkit-box-shadow: 0px 0px 3px 0px #d3d6d3;
  -moz-box-shadow: 0px 0px 3px 0px #d3d6d3;
  box-shadow: 0px 0px 3px 0px #d3d6d3;
}
.container .people-active {
  background: #002b50;
  color: #fff;
}
.container .people-active .body-people {
  cursor: pointer;
}
.container .people-active .body-people strong {
  color: #fff;
}
.container .people-active .body-people .text-grey {
  color: #fff;
}
.container .body-people {
  padding: 25px;
}
.container .picture-people {
  cursor: pointer;
}
.container .picture-people img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.container .picture-people .badge {
  position: absolute;
  height: 15px;
  width: 15px;
  margin-top: -120px;
  margin-left: 100px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  line-height: 18px;
  font-size: 18px;
  background-color: #4dd2d2;
  color: #092432;
  font-weight: 600;
}

/* FIM CONTEUDO PRINCIPAL */

/*# sourceMappingURL=styles.css.map */
